<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326713409948-crgfpbql9ofi3o02jut04bgq1ca84n7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326713409948-crgfpbql9ofi3o02jut04bgq1ca84n7b</string>
	<key>API_KEY</key>
	<string>AIzaSyDx39wYMmZaTio0XDsfSXqfa-Z2n4EgMqc</string>
	<key>GCM_SENDER_ID</key>
	<string>326713409948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fookfood</string>
	<key>PROJECT_ID</key>
	<string>fookfood-545e2</string>
	<key>STORAGE_BUCKET</key>
	<string>fookfood-545e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326713409948:ios:17c1df283efc76f5714859</string>
</dict>
</plist>